html,body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 100%;
    max-width: 92vw;
    margin: auto;
}
.btn{
    box-sizing: border-box;
}
.btn.btn--menu-button{
    min-width: 2em;
    height: 2em;
    display: inline-block;
}
.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    overflow: hidden;
}

.menu > li {
    display: block;
}

.menu > li > a {
    width: 100%;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    background-color: hsl(210.86deg 28% 24.51%);
    color: white;
    font-size: 1.1rem;
    border-radius: 0.3em;
}

.hamburgerIcon{
    display: block;
    min-width: 1em;
    height: 1em;
}
.hamburgerIcon__line{
    display: block;
    width: 100%;
    height: 0.25em;
    background-color: #000;
    border-radius: 0.2em;
}
.hamburgerIcon__line:not(:last-child){
    margin-bottom: 0.125em;
}
.btn.btn--menu-button:focus + .menu{
    display: block;
}
.nav{
    position: relative;
    padding: 0.5em;
    background-color: #0182e7;
}
.left-div{
    float: left;
    color: white;
    font-size: 1.2rem;
}
.menu-div{
    float: right;
}
.clearfix{
    clear: both;
}

@media (max-width: 576px) {
    .menu > li > a:hover{
        color: hsl(206.15deg 93.97% 54.51%);
    }

    .menu > li > a{
        text-align: center;
        color: white;
        padding: 1.5em 0.84em;
    }
}

@media (min-width: 576px){
    .menu-div{
        position: relative;
    }
    .btn.btn--menu-button{
        display: none;
    }
    .menu{
        display: block;
        position: static;
        overflow: hidden;
    }
    .menu > li {
        display: inline-block;
    }

    .menu > li > a {
        width: auto;
        display: block;
        background-color: transparent;
        padding: 1.5em 0.2em;
    }
    .menu > li > a:hover{
        background-color: hsl(206.15deg 93.97% 54.51%);
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

}
@media(min-width: 768px){
    .menu-div{
        position: relative;
    }
    .menu > li > a{
        padding: 1.5em 0.5em;
    }
    .container{
        max-width: 80vw;
    }
}
@media (min-width: 992px) {
    .menu-div{
        position: relative;
    }
    .container{
        max-width: 85vw;
    }
    .menu > li > a {
        padding: 1.5em 1.5em;
    }
}
@media (min-width: 1200px) {
    .menu-div{
        position: relative;
    }
    .container{
        max-width: 80vw;
    }
    .menu > li > a {
        padding: 1.5em 2em;
    }
}
@media (min-width: 1400px) {
    .menu-div{
        position: relative;
    }
    .container{
        max-width: 70vw;
    }
}